@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  position: relative;
}

main::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 158px;
  background: center url("../images/bg-footer-top-desktop.svg") no-repeat;
  background-size: 100% 100%;
}

button * {
  opacity: 0.2;
  cursor: pointer;
}

nav {
  width: 100%;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 8rem;
}

nav button {
  color: #ff8fd8;
  background-color: transparent;
  border: 1px #ff8fd8 solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: small;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
}

.info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.info p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.info button {
  color: #f5faff;
  background-color: #ff52bf;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  padding: 0.9rem 3rem;
}

.sample img {
  padding: 5rem 2rem;
  width: 100%;
}

.numbers {
  text-align: center;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.community, .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.community img, .messages img {
  width: 15%;
}

.community h2, .messages h2 {
  font-size: 4rem;
}

.community span, .messages span {
  color: #00252e9c;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20rem;
}

.grow, .flowing, .users {
  width: 80%;
  line-height: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3rem;
}

.grow .description, .flowing .description, .users .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

article img {
  width: 100%;
}

.getStarted {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 10rem 0 20rem;
}

.getStarted button {
  color: #f5faff;
  background-color: #ff52bf;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  padding: 0.8rem 3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00252e;
  color: #f5faff;
  padding: 2rem 1rem;
  gap: 5rem;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.newsletter h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 0.9rem;
  border-radius: 0.5rem;
  border: none;
}

form button {
  width: 50%;
  font-size: 1.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #f5faff;
  background-color: #ff52bf;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.mail,
.tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons i:nth-child(1) {
  background-color: white;
  color: #00252e;
  padding: 0.2rem 0.1rem 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

.icons i:nth-child(2) {
  background-color: #00252e;
  color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.icons i:nth-child(3) {
  background-color: white;
  color: #00252e;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

@media (min-width: 420px) {
  nav {
    width: 95%;
    margin: 1rem 0;
  }
  nav img {
    width: 12rem;
  }
  .info h1 {
    font-size: 2.5rem;
  }
  .info p {
    width: 40%;
    line-height: 1.5;
  }
  .info button {
    padding: 1.3rem 4rem;
  }
  .sample {
    width: 65%;
  }
  .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
  }
  .numbers h2 {
    font-size: 5rem;
  }
  .grow, .flowing, .users {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .grow .description, .flowing .description, .users .description {
    text-align: left;
    width: 40%;
  }
  .grow .description h2, .flowing .description h2, .users .description h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .grow img, .flowing img, .users img {
    width: 40%;
  }
  .flowing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .getStarted h2 {
    font-size: 2rem;
  }
  .getStarted button {
    padding: 1.3rem 5rem;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5rem;
  }
  .contact {
    width: 40%;
  }
  .newsletter {
    width: 40%;
  }
  .newsletter p {
    width: 78%;
  }
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form input {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */