@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Colors
$Pink: #ff52bf;
$Light_Pink: #ff8fd8;
$Light_Red: #ff4242;

$Very_Dark_Cyan: #00252e;
$Very_Pale_Blue: #f5faff;

// Typography

// Headings

$H-Family: "Poppins", sans-serif;

// Body

$B-Family: "Open Sans", sans-serif;

// Mixins
@mixin flex {
  display: flex;
  flex-direction: column;
  @content;
}

@mixin pinkButton {
  color: $Very_Pale_Blue;
  background-color: $Pink;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  @content;
}

body {
  font-family: $B-Family;
}

//  button:hover > *{
//   opacity: .5;
//   cursor: pointer;
//   }
main {
  @include flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 158px;
    background: center url("../images/bg-footer-top-desktop.svg") no-repeat;
    background-size: 100% 100%;
  }
}

button * {
  opacity: 0.2;
  cursor: pointer;
}

nav {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 8rem;
  }

  button {
    color: $Light_Pink;
    background-color: transparent;
    border: 1px $Light_Pink solid;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: small;
  }
}

.info {
  @include flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  h1 {
    font-family: $H-Family;
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  button {
    @include pinkButton();
    padding: 0.9rem 3rem;
  }
}

.sample img {
  padding: 5rem 2rem;
  width: 100%;
}

.numbers {
  text-align: center;
  margin-bottom: 5rem;

  @include flex;
  gap: 5rem;
}

.community {
  @include flex;
  align-items: flex-start;
  img {
    width: 15%;
  }
  h2 {
    font-size: 4rem;
  }
  span {
    color: #00252e9c;
    align-self: center;
  }
}
.messages {
  @extend .community;
}

article {
  position: relative;
  @include flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
.grow {
  width: 80%;
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 3rem;

  .description {
    @include flex;
    gap: 1rem;
  }
}
.flowing {
  @extend .grow;
}
.users {
  @extend .grow;
}
article img {
  width: 100%;
}

.getStarted {
  width: 100%;
  text-align: center;
  @include flex();
  align-items: center;
  gap: 2rem;
  margin: 10rem 0 20rem;

  button {
    @include pinkButton();
    padding: 0.8rem 3rem;
  }

  // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: 158px;
  //   background: center url("../images/bg-section-bottom-desktop-1.svg")
  //     no-repeat;
  //   background-size: 100% 100%;
  // }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: $Very_Dark_Cyan;
  color: $Very_Pale_Blue;
  padding: 2rem 1rem;
  gap: 5rem;
}
.newsletter {
  @include flex();
  gap: 1.5rem;

  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
form {
  @include flex();
  gap: 1rem;
  input {
    padding: 0.9rem;
    border-radius: 0.5rem;
    border: none;
  }
  button {
    width: 50%;
    font-size: 1.2rem;
    align-self: flex-end;
    @include pinkButton();
    padding: 0.8rem;
    border-radius: 0.5rem;
  }
}
.contact {
  @include flex();
  gap: 2rem;
}
.mail,
.tell {
  display: flex;
  gap: 1rem;
}
.icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  i:nth-child(1) {
    background-color: white;
    color: #00252e;
    padding: 0.2rem 0.1rem 0.2rem 0.5rem;
    border-radius: 0.2rem;
  }
  i:nth-child(2) {
    background-color: #00252e;
    color: white;
    transform: scale(1.5);
  }
  i:nth-child(3) {
    background-color: white;
    color: #00252e;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
}

@media (min-width: 420px) {
  nav {
    width: 95%;
    margin: 1rem 0;
    img {
      width: 12rem;
    }
  }
  .info {
    h1 {
      font-size: 2.5rem;
    }
    p {
      width: 40%;
      line-height: 1.5;
    }
    button {
      padding: 1.3rem 4rem;
    }
  }

  .sample {
    width: 65%;
  }

  .numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    h2 {
      font-size: 5rem;
    }
  }

  .grow {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .description {
      text-align: left;
      width: 40%;
      h2 {
        font-size: 2rem;
        padding-bottom: 2rem;
      }
    }
    img {
      width: 40%;
    }
  }
  .flowing {
    flex-direction: row-reverse;
  }

  .getStarted {
    h2 {
      font-size: 2rem;
    }
    button {
      padding: 1.3rem 5rem;
    }
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 5rem;
  }
  .contact {
    width: 40%;
  }
  .newsletter {
    width: 40%;
    p {
      width: 78%;
    }
  }
  form {
    flex-direction: row;
    input {
      width: 80%;
    }
  }
}
